@import "./variables";
@import "./buttons.scss";
@import "./component.home.scss";
@import "./component.nav.scss";
@import "./component.contact.scss";
@import "./component.shows.scss";

body {
  margin: 0;
  padding: 0;
  font-family: arial;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.outerSection {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 2%;
  .innerSection {
    width: 85%;
    margin: 0 5%;
    padding: 2.5%;
    background-color: white;
    p {
      border-radius: .3rem;
      width: 96%;
      padding: 2%;
      margin: 0;
      color: rgb(34.3%, 34.7%, 34.3%);
      font-family: 'Open Sans', sans-serif;
      a {
        color: $highlight;
      }
    }
    h1 {
      font-family: 'Roboto', sans-serif;
    }
  }
}
.center {
  text-align: center;
}

.color {
  background-color: $soft-bg;
}

.title {
  font-size: 3rem;
  font-family: 'Saira Extra Condensed', sans-serif;
}

@media(max-width: 1080px) {
  .outerSection {
    margin-top: 4%;
    .innerSection {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }
  .title {
    font-size: 1.5rem;
  }
}

.horizontalList {
  margin: 0;
  padding: 0;
  width: 100%;
  li {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
  }
}

.noMargBottom {
  margin-bottom: 0;
}
