#home {
    width: 100%;
    height: 100vh;
}

#logo {
    position: absolute;
    top: 5rem;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    opacity: .6;
}

@media(min-width: 1080px) {
    .mobile-nav {
        display: none;
    }
}

@media(max-width: 1079px) {
    #logo {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}
