#full-nav {
    margin: 2% 10%;
    width: 80%;
    padding: 0;
    position: absolute;
    bottom: 2%;
    li {
        display: inline-block;
        width: 24.4%;
        font-size: 2rem;
        text-align: center;
        text-shadow: 0 0 .3rem black 0 0 .6rem black 0 0 .9rem black;
        letter-spacing: .11rem;
        &:hover {
            border-bottom: .2rem solid white;
            cursor: pointer;
            margin-bottom: -.2rem;
        }
    }
}

@media(max-width: 1080px) {
    #full-nav {
        display: none;
    }
}
