@import './nav.scss';
@import './fullNav.scss';
@import "../home/home.scss";

body {
    background-color: #111;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
}

